@import "tailwindcss";

@font-face {
    font-family: "Bestime";
    src: url("../public/fonts/Bestime.ttf") format("ttf");
}

body {
  cursor: url('/cursor/BlackPixel--cursor--SweezyCursors.png'), auto;
}

button, a:hover {
    cursor: url('/cursor/BlackPixel--pointer--SweezyCursors.png'), auto;
}

h2 {
    font-family: "Bestime", sans-serif;
    text-rendering: optimizeLegibility;
}

p, a {
  font-family: 'Montserrat', sans-serif;
}
