@import "tailwindcss";

@font-face {
    font-family: "Bestime";
    src: url("../public/fonts/Bestime.ttf") format("ttf");
}

h2, a {
    font-family: "Bestime", sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
}
